
:root {
  --light-green: rgb(249,210,128); /* Custom property for a primary color */
  --dark-green: rgb(149,210,128); /* Custom property for an accent color */
}



    body {
      margin: 0px;
      font-family: "DIN Pro Regular";
    }

a {
  color: blue;
}

p {
	padding-left: 20px;
	padding-right: 20px;

	color:black
}
	
h1 {
	text-align: center;
	padding: 10px;
	color:black
}

.authors {
	font-size: smaller;
}



.heading {
	font-size: 18px;
	color: black;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
text-transform: uppercase;
	} 



#map {
  position: absolute;
  top: 0px;
  left: 0%;
  bottom: 0px;
  width: 50%;
  border-right: solid;
  border-width: 1pt;
  background-color:rgb(47,76,109);
}


#map2 {
  position: absolute;
  top: 0px;
  left: 50%;
  bottom: 0px;
  border-left: solid;
  border-width: 1pt;
  width: 50%;    
  border-style: none;
  background-color:rgb(47,76,109);
}



    
.timer {
position: absolute;
text-align: center;
bottom: 0pt;
left: 5%;
width: 90%;
height: 15pt;
Z-index: 3;
font-size: 12pt;
color: white;
text-shadow: black 1px 0 10px;
}

.container {
position: absolute;
width: 70%;
height: 100%;
Z-index: 10;
 border-style: none;
}
    

    
    
#map2 .mapbox-logo{ display: none !important; } 
#map2 .mapboxgl-ctrl-logo { display: none !important; } 
#mao2 .mapbox-improve-map { display: none; } 
#map2 .mapboxgl-ctrl-compass { display: none; }

.blurbcontainer{
	  position: absolute;
      left:70%;
      width: 30%;
      height: 100%;
      Z-index: 0;
      border-style: none;
}

.verticalbar {
position: absolute;
right: 0px;
background-color: red;
   border-style: none;
  border-color:black;
  border-width: 1px;
width:15px;
height: 100%;
}

.blurb {
position: relative;
 border-style: none;
left: 5px;
width: 100%;
      background-color:white;
      padding-top: 10px;
      padding-bottom: 20px;
      position: absolute;
      height: 95%;
      overflow-y: scroll;
      Z-index:0;
  /*    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
      -webkit-mask-image: linear-gradient(to bottom, black 95%, transparent 100%),
      	linear-gradient(to left, black 15px, transparent 6px);
      
      mask-image: linear-gradient(to bottom, black 95%, transparent 100%),
           linear-gradient(to left, black 15px, transparent 6px); /* not masked area for scrollbar */
    }

  
.marker {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  cursor: crosshair
}




.highlight{
  box-shadow: 0px 0px 50px 25px yellow, -5px -5px 15px 3px rgba(244,250,80,0.8) !important;
}

.highlight_temp{
  box-shadow: 0px 0px 20px 15px rgba(244,250,80,0.6) !important;
}

.highlight_pressure{
  box-shadow: 0px 0px 20px 15px rgba(59,143,227,0.6) !important; 
}

.debug{
	display: none;
}

.hidden {
	display: none;
}

.mapboxgl-marker {
cursor: crosshair
}

.mapboxgl-canvas {
cursor: crosshair
}

.mapboxgl-popup-content {
  height: 80px;
  width: 125px;
  font-family: 'DIN Pro Regular';
  padding:5px;  
  border-radius: 10px !important;
}


.popup
{
border-left-color: var(--light-green) !important;
border-right-color: var(--light-green) !important;
border-bottom-color: var(--light-green) !important;
border-top-color: var(--light-green) !important;
opacity: 0.8;
}

.popup .mapboxgl-popup-content {
  background-color: var(--light-green);
  opacity: 0.8;
  pointer-events: none !important;
  touch-action: none; !important;
}

.popup2
{
border-left-color: var(--dark-green) !important;
border-right-color: var(--dark-green) !important;
border-bottom-color: var(--dark-green) !important;
border-top-color: var(--dark-green) !important;
opacity: 0.8;
}



.popup2 .mapboxgl-popup-content {
  background-color: var(--dark-green);
  opacity: 0.8;
  pointer-events: none !important;
  touch-action: none; !important;
}

    





.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: inherit;
     opacity: 0.8;
    }
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: inherit;
     opacity: 0.8;
    }
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: inherit;
     opacity: 0.8;
    }
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: inherit;
     opacity: 0.8;
    }
    
    

    
.lds-spinner {
  /* color: official;*/
  display: none; 
  position: absolute;
  top: 40%;
  left:50%;
  margin-left:-40px;
  width: 80px;
  height: 80px;
  Z-index: 4;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


#section05 p {
  padding-top: 70px;
}
#arrow p span {
  position: fixed;
  top:90%;
  left: 85%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 3px solid grey;
  border-bottom: 3px solid grey;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 3.5s infinite;
  animation: sdb05 3.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}


@keyframes expand {
  0% {
    width: 70%; /* Start with full height */
  }
  100% {
    width: 100%; /* End with no height (collapsed) */
  }
}

@keyframes collapse {
  0% {
    width: 100%; /* Start with full height */
  }
  100% {
    width: 70%; /* End with no height (collapsed) */
  }
}

.expand-animation {
    overflow: hidden; /* Hide the content that overflows during the animation */
    animation: expand 1s ease-in-out forwards; /* Adjust the duration as needed (e.g., 3s) */
}

.collapse-animation {
    overflow: hidden; /* Hide the content that overflows during the animation */
    animation: collapse 1s ease-in-out forwards; /* Adjust the duration as needed (e.g., 3s) */
}